body {
    
  background-color:#242B33;
  font-family: 'Raleway', sans-serif;
   

} 

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0;
} 


.menu {
  color: white;
  display: flex;
  list-style-type: none;
  margin-left: 700px;
  text-decoration-line: none;
}
.color__container {
   text-align: center;
}

.color__links-container {
   display: flex;
   justify-content: center;
   align-items: center;
}
.menu__item{
  margin-right: 40px;
  font-size: 14px;
}

.menu__line {
   color: #fff;
   text-decoration: none;
}
.menu__line:hover {
   color: #D4C17F;
}

.color__title {
   font-family: 'Playfair Display', sans-serif;
   font-weight: bold;
   font-size: 48px;
   color:#D4C17F;
}

.color__mouse {
   background-image: url("img/mouse.svg");
   width: 40px;
   height: 40px;
}

.div1__map {
   background-image: url("img/map.svg");
   display: inline-block;
   width: 15px;
   height: 21px;
   margin-right: 15px;
   }
.color__img {
    align-items: center;
   } 
.container1__div1 {
   font-size: 18px;
   color: #fff;
} 
.container1 {
   display: flex;
   flex-direction: row;
}
.color__flex {
   flex-direction: row;
}

.div2__tell {
   background-image: url("img/tell.svg");
   display: inline-block;
   width: 21px;
   height: 21px;
   margin-right: 15px;
} 

.div2__white{
   color: #fff;
   text-decoration: none;
}
.div2__white:hover {
   color: #D4C17F;
}
.div2 {
   font-size: 18px;
} 
.advantages {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 20px;
   color: #fff;
   
   
} 

.advantages_list-container {
   display: flex;
   
}
.advantages__item {
   list-style-type: none;
   width: max-content;
   
   
   
}
.apartments__item {
   font-size: 24px;
   color:#fff;
   list-style-type: none;
   
}
.heading {
   font-family: 'Playfair Display', sans-serif;
   font-weight: bold;
   font-size: 36px;
   color: #D4C17F;
}
.look__text1 {
   font-size: 16px;
   color: #fff;
}
.look__name {
   font-size: 14px;
   color: #BEBEBE;
}

.look__tell-form {
   font-size: 14px;
   color: #BEBEBE;
}

.look__button {
   background-color: #D4C17F;
   font-weight: bold;
   font-size: 16px;
   color: #fff;
} 

.look__text-after-form {
   font-size: 13px;
   color: #fff;
} 
.questions__text-before-form {
   font-size: 13px;
   color: #fff;
} 

.questions__name {
   font-size: 14px;
   color: #BEBEBE;
} 
.questions__tell-form {
   font-size: 14px;
   color: #BEBEBE;
}
.questions__button {
   background-color: #D4C17F;
   font-weight: bold;
   font-size: 16px;
   color: #fff;
} 

.menu-lower__item {
   list-style-type: none;
}
.menu-lower__line {
   font-size: 14px;
   color: #fff;
   text-decoration: none;
} 
.menu-lower__line:hover {
   color: #D4C17F;
}
.contacts {
   font-size: 14px;
   color: #fff;
} 
.contacts__item {
   list-style-type: none;
}

.contacts__tell4 {
   text-decoration: none;
   color:#fff;
}
.contacts__tell4:hover {
   color: #D4C17F;
}
.contacts__e-mail {
   text-decoration: none;
   color: #fff;
}
.contacts__e-mail:hover {
   color: #D4C17F;
}
.icon__item {
   list-style-type: none;
}
.yotube-icon:hover {
   fill:#D4C17F;
}
.vk-icon:hover {
   fill:#D4C17F;
}
.facebook-icon:hover {
   fill:#D4C17F;
} 
.instagram-icon:hover {
   fill: #D4C17F;
}


